{% extends 'zonework_app/base.html' %} {% load static %} {% block content %}
<head>
  <title>Learning Tab</title>
</head>
<body>
  <h3>Register Now:</h3>
  <div>
    <form method="POST" style="max-height: 65px; background-color: aquamarine">
      {% csrf_token %} {{ form.as_table }}

      <!-- This will render the form fields as a series of paragraphs -->
      <button type="submit" , class="btn btn-primary btn-lg btn-block my-1">
        start
      </button>
    </form>
  </div>
  <div>
    <h4>Your Registered Learning Items:</h4>
    <table>
      <thead>
        <tr>
          <th>Student</th>
          <th>Completed</th>
          <th>Action</th>
          <th>Title</th>
          <th>Entry Date</th>
        </tr>
      </thead>
      <tbody>
        {% for item in learning_items %}
        <tr>
          <td>{{ item.student }}</td>
          <td>
            <input
              type="radio"
              name="completed_{{ item.pk }}"
              value="true"
              {%
              if
              item.completed
              %}checked{%
              endif
              %}
            />
            <label for="completed_{{ item.pk }}">True</label>
            <input
              type="radio"
              name="completed_{{ item.pk }}"
              value="false"
              {%
              if
              not
              item.completed
              %}checked{%
              endif
              %}
            />
            <label for="completed_{{ item.pk }}">False</label>
          </td>
          <td>
            <button
              type="submit"
              class="btn btn-secondary btn-sm btn-block my-1"
            >
              Update
            </button>
          </td>

          <td>{{ item.title }}</td>
          <td>{{ item.entry_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
{% endblock %}
