{% extends 'zonework_app/base.html' %}

{% block title %}
Learning Tab
{% endblock %}

{% block content %}

    <h1>Learning Tab</h1>

<!--New form-->

    <form method="POST">
        {% csrf_token %}
        {{ form.as_table }}  <!-- This will render the form fields as a series of paragraphs -->
        <button type="submit">start</button>
    </form>

<!--here is the form that isn't working-->

<!-- Begin a new class  -->
<!--<div class="container">-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        <br/>-->
<!--<table>-->
<!--    <tr>-->
<!--        <div class="row row-cols-lg-auto g-3 align-items-center">-->
<!--            <div class="col-12">-->
<!--                <label for="enter_class" class="col-form-label" >Enter Class</label>-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                <input type="text" id="enter_class" class="form-control" placeholder="e.g. python 201">-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                <button id="next-class-button">Next Class or Session</button>-->
<!--            </div>-->
<!--          </div>-->
<!--    </tr>-->
<!--</table>-->
<!--    </form>-->
<!--</div>-->
<!--        <br/>-->

<!-- here are the learning item -->
<!--<div class="container text-left-center">-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        <table>-->
<!--        {% for item in form %}-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">-->
<!--                        &lt;!&ndash; understood button &ndash;&gt;-->
<!--                        <input type="radio" class="btn-check" name="{{ item.assessment }}" id="{{ item.assessment }}" autocomplete="off">-->
<!--                        <label style="width:200px" class="btn btn-outline-danger" for="{{ item.assessment }}">&#10003;<br/>understood</label>-->
<!--                        &lt;!&ndash; not yet button &ndash;&gt;-->
<!--                        <input type="radio" class="btn-check" name="btnradio2" id="btnradio2" autocomplete="off">-->
<!--                        <label style="width:200px" class="btn btn-outline-danger" for="btnradio2">?<br/>Not Yet</label>-->
<!--                        &lt;!&ndash; description &ndash;&gt;-->
<!--                        <textarea class="form-control" placeholder="Enter Description" id="floatingTextarea"></textarea>-->
<!--                        &lt;!&ndash; enter button &ndash;&gt;-->
<!--                        <button type="button" class="btn btn-outline-danger">Enter</button>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--        {% endfor %}-->
<!--        </table>-->
<!--    </form>-->
<!--</div>-->
{% endblock %}

