.notes {
    background-color: gray;

}

.all-body-throughout {
    margin: 5px;
}

.bar-item {
    flex: auto;
}

.form-group {
    display: flex;
}

.zw-main-bar {
    background-color: red;
    margin: 10px auto;
}

.zw-bar {
    display: flex;
    margin: 10px auto;
}

.bar-item {
    padding: 15px 24px;
    justify-content: space-evenly;
    border: 2px crimson;    
}

.bar-description {
    padding: 15px;
    flex: 2;
    border: 2px crimson solid;

}

#assessment-button {
    padding: 15px auto;
    width: 200px;
    justify-content: space-evenly;
}