body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    margin: 10px;
}

/* for the button on the learn tab,  */
.zw-buttons {
    display: flex;
}

/* to render the button on the learn tab */
#eval-button {
    display: flex;
    margin: 20px;
    width: 150px;
    justify-content: center;
}

/* here is the css for the eval rendered table */
.eval-rendered-type {
    font-weight: bold;
}

.eval-rendered-type.understand {
    color: green;
}

.eval-rendered-type.not-yet {
    color: red;
}

#zw-card {
    width: 18rem;
    display: flex;
    background-color: blue;
}