
/* can you fix the margin instead of using this? */
.all-body-throughout {
    margin: 5px;
    background-color: black;
}

.zw-buttons {
    display: flex;
}
  
#eval-button {
    display: flex;
    width: 150px;
    justify-content: center;
}


