{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <h2>Dashboard</h2>

    <!-- Your HTML content -->

    <div class="container">
        <div class="row">
            <div class="col">
                <canvas id="myChart" width="200" height="100"></canvas>
            </div>
        </div>
    </div>

    
    <script>
        // Ensure JavaScript executes after the DOM is loaded
        document.addEventListener("DOMContentLoaded", function () {
            var chartData = {{ chartData|safe }};
            console.log(chartData);
            console.log(chartData.evals);
            console.log(chartData.understand_evals);
            console.log(chartData.not_yet_evals);
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: chartData.labels,
                    datasets: [{
                        label: 'Understand',
                        data: chartData.understand_evals,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                }, {
                        label: 'Not Yet',
                        data: chartData.not_yet_evals,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                }, {
                        label: 'Evaluations',
                        data: chartData.evals,
                        backgroundColor: 'rgba(0, 0, 0, 0.1)',
                        borderColor: 'rgba(0, 0, 0, 0.1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        x: {
                            stacked: true
                        },
                        y: {
                            stacked: true,
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
</body>
{% endblock content %}
