{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<h1>learning</h1>
<div>
  <p>Enter your accessment and the text as completed and details</p>
  <p>e.g. "understand" - problem 3.06 or "Not yet" - problem 3.07</p>
</div>
<form action="" method="post">
  <p>
    Begin your session on {{ learningitem.subject }}"<- Your subject should
    appear here"
  </p>
  {% csrf_token %} {{ form|crispy }}
  <button class="btn btn-success ml-2" type="submit">Enter</button>
</form>
<div>
  <h4>Your Registered Learning Items:</h4>
  <table>
    <thead>
      <tr>
        <th>Student |</th>
        <th>Subject |</th>
        <th>Status |</th>
        <th>Details |</th>
      </tr>
    </thead>
    <tbody>
      {% for learningitem in queryset %}
      <tr>
        <td>{{ learningitem.student }}</td>
        <td>
          {{ learningitem.subject }} - {{ learningitem.completed }} - {{
          learningitem.text }}
        </td>
        <td>{{ learningitem.completed }}</td>
        <td>{{ learningitem.text }}</td>
      </tr>
      {% endfor %} {% for learningitem in list_of_items %}
      <tr>
        <td>{{ learningitem.student }}</td>
        <td>
          {{ learningitem.subject }} - {{ learningitem.completed }} - {{
          learningitem.text }}
        </td>
        <td>{{ learningitem.completed }}</td>
        <td>{{ learningitem.text }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
