{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>learning</h1>
<div>
    <p> Enter your accessment and the text as completed and details</p>
    <p>e.g. "understand" - problem 3.06 or "Not yet" - problem 3.07</p>

</div>
<div>
    <form action="" method="post">{% csrf_token %}

        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Enter</button>
    </div>
</div>
    </form>
</div>
</br>

<!-- Return items that are entered above, similar to the dashboard -->
<div>
    <h4>Your Registered Learning Items:</h4>
    <table>
        <thead>
            <tr>
                <th>Student |</th>
                <th>Subject |</th>
                <th>Status |</th>
                <th>Details |</th>
                <th>Entry Date</th>
            </tr>
        </thead>
        <tbody>
            {% for learningitem in list_of_items %}
            <tr>
                <td>{{ learningitem.student }} </td>
                <td>{{ learningitem.subject }} </td>
                <td>{{ learningitem.completed }} </td>
                <td>{{ learningitem.text }} </td>
                <td>{{ learningitem.entry_date }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}