{% extends 'base.html' %}
<!-- {% load crispy_forms_tags %} -->
{% load static %}

{% block title %}Subject List{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    <p><a href="{% url 'logout' %}">Log Out</a></p>

<!-- Here is the main list of subjucts  -->
    {% for subject in subject_list %}
    <div class="card" id="zw-card">
        <div class="card-header">
            <span class="fw-bold">
                <a href="{% url 'subject_detail' subject.pk %}">{{ subject.title }}</a>
            </span> &middot; 
            <span class="text-muted">by {{ subject.author }}</span>
            <a href="{{ subject.get_absolute_url }}">Keep Learning</a>
        </div>
        <div class="card-footer">
            <span class="fw-bold">
                {{ subject.total_evaluations }} Total &middot; 
                {{ subject.understand_evaluations }} Understands &middot; 
                {{ subject.not_yet_evaluations }} Not Yets
            </span>
        </div>
    </div>
    <br />
    {% endfor %}

{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %} 

{% endblock %}
