{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="card">
    <h5 class="card-header">{{ subject.title }}</h5>
    <div class="card-body">
      <h5 class="card-title">Add Notes</h5>
      <form action="" method="post">
        {% csrf_token %}
       <div> 
        {{ form.notes }}
       </div>
       <div class="zw-buttons">
        <button class="btn btn-outline-success" id="eval-button" name="understand" value="1" type="submit">Understand</button>
        <button class="btn btn-outline-success" id="eval-button" name="not_yet" value="1" type="submit">Not Yet</button>
        </div>
      </form>
    </div>
  </div>


<!-- Here is the count of total evaluations for today -->
<div>
    <p>Total Evaluations: {{ subject.evaluation_set.all.count }}</p>
    <p>Total Evaluations for Today: </p>
</div>



<!-- Here is the new rendered evaluations -->
<div>
    <h4>Evaluations for {{ evaluation.student }} in {{ evaluation.subject }} on {{ evaluation.timestamp }}</h4>
    <table>
        <thead>
            <tr>
                <th>Evaluation</th>
                <th>Notes</th>
            </tr>
        </thead>
    </table>

{% for evaluation in subject.evaluation_set.all %}

<td>
    {% if evaluation.understand %}
        Understand
    {% elif evaluation.not_yet %}
        Not Yet
    {% endif %}
</td>
<td>
    | {{ evaluation.notes }}
</td>
</p>
{% endfor %}
<hr>
</div>


<div>
{% if subject.student.pk == request.user.pk %}
    <p>
    <a href="{% url 'subject_edit' subject.pk %}">Edit</a>
    <a href="{% url 'subject_delete' subject.pk %}">Delete</a>
    </p>
{% endif %}
    <p>Back to <a href="{% url 'subject_list' %}">All Subjects</a>.</p>
</div>
{% endblock content %}